/* Features section styles */

.features-section {
    display: flex;
    position: relative;
}


.features-section > a {
    background-color: #36383f;
    flex: 1;    
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #676767;
}

.features-section > a:hover {
    background-color: #434343;
}

.features-section > a:focus {
    background: #434343;
    outline: none;
}

.features-section > a .feature-link-style {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}